*{
    margin: 0;
    padding: 0;
}
section{
    min-height:82.5vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    height: 70px;
    width: 100%;
    color: white;
}
.quoteCard{
    padding: 20px;
    height: 40vh;
    width: 320px;
    margin: 10px;
    /* background-color: green; */
     background-size: cover;
     color: white;
    box-shadow: 3px 3px 5px black; 
}
.quoteCard:hover{
    box-shadow: none;
}
.quoteCard .quoteText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    line-height: 50px;
    /* background-color: grey; */
}
.quoteCard .quoteText h1{
    font-size: 22px;
    line-height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quoteCard .quoteAuthor{
    display: flex;
    align-items: center;
    justify-content:end;
    height: 20%;
    /* background-color: blue; */
    padding-right:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.quoteCard .quoteAuthor h4{
    font-size: 17px;
}
.paginationButtons{
    height: 20%;
    padding: 20px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.paginationButtons .pageBtn{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}
.nonActive{
    background-color:rgb(153, 153, 176);
}
.pageBtn:hover{
    background-color: #ccc;
}
.activePageBtn{
    background-color:rgb(237, 190, 103);
}